@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

.geist {
  font-family: "Geist", sans-serif;
}
@import "tailwindcss";

/* globals animation */
@keyframes animate_up_down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes marquee_animations {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee-wrapper {
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.marquee {
  display: flex;
  min-width: max-content;
  white-space: nowrap;
  animation: marquee_animations 80s linear infinite;
}

.up-down {
  animation: animate_up_down 2.5s ease-in-out infinite;
}
